/*
    Author: Mary Mettille
    Theme: myRestaurant Food Ordering App
    Version: 1.0
*/

*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 1%
}

.img-responsive{
    width: 100%;
}

.clearfix{
    clear: both;
    float: none;
}

.text-center{
    text-align: center;
}

.btn{
    padding: 1%;
    border: none;
    border-radius: 5%;
}

.btn-primary{
    background-color: #CF9140;
    color: white;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: #894E00;
}

/* CSS for NavBar */
.logo{
    width: 10%;
    float: left;
}

.img-logo{
    max-height: 100px;
}

.menu{
    line-height: 100px;
}

.nav-right{
    text-align: right
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
}

.menu ul li a{
    color: #CF9140;
    text-decoration: none;
    font-weight: bold;
}

.menu ul li a:hover{
    color: #894E00
}

/* CSS for Food Search Class */
.food-search{
    background-image: url(https://images.unsplash.com/photo-1541167760496-1628856ab772?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1788&q=80) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border-radius: 5px;
}

