/*
    Author: Mary Mettille
    Theme: myRestaurant Food Ordering App
    Version: 1.0
*/

/*
    Primary Color: #CF9140
    Secondary Color (Dark): #894E00
    Menu-background color: #ececee
    Menu-text color: #747d8c
*/

*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 1%
}

.img-responsive{
    width: 100%;
}

/* .img-height{
    height: 132px
} */

.img-curve{
    border-radius: 5%;
}

.clearfix{
    clear: both;
    float: none;
}

.text-center{
    text-align: center;
}

.btn{
    padding: 1%;
    border: none;
    border-radius: 5%;
}

.btn-primary{
    background-color: #CF9140;
    color: white;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: #894E00;
}

.float-container{
    position: relative;
}

.float-text{
    position: absolute;
    bottom: 50px;
    left: 35%;
}

.text-white{
    color: white
}

.text-primary{
    color: #CF9140
}

h3{
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}
/* CSS for NavBar */
.logo{
    width: 10%;
    float: left;
}

.img-logo{
    max-height: 100px;
}

.nav-menu{
    line-height: 100px;
}

.nav-right{
    text-align: right
}

.nav-menu ul{
    list-style-type: none;
}

.nav-menu ul li{
    display: inline;
    padding: 1%;
}

.nav-menu ul li a{
    color: #CF9140;
    font-weight: bold;
}

.nav-menu ul li a:hover{
    color: #894E00
}

/* CSS for Food Search */
.food-search{
    background-image: url(https://images.unsplash.com/photo-1541167760496-1628856ab772?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1788&q=80) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border-radius: 5px;
}

/* CSS for Food Categories */
.categories{
    padding: 3% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%
}

/* CSS for Menu */

.menu {
    background-color: #ececee;
    padding: 4% 0
}

.menu-item{
    width: 43%;
    height: 150px;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.menu-img{
    width: 20%;
    float: left;
}

.menu-description{
    width: 70%;
    float: left;
    margin-left: 8%
}

.menu-price{
    font-size: 1.2rem;
    margin: 2% 0;
}

.menu-text{
    font-size: 0.9rem;
    color: #747d8c
}

/* CSS for Social */
.social ul{
    list-style-type: none;
}

.social ul li{
    display: inline;
    padding: 1%;
}