/*
    Author: Mary Mettille
    Theme: myRestaurant Food Ordering App
    Version: 1.0
*/

*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 1%
}

.img-responsive{
    width: 100%;
}

.clearfix{
    clear: both;
    float: none;
}

/* CSS for NavBar */
.logo{
    width: 10%;
    float: left;
}

.menu{
    line-height: 60px;
}

.nav-right{
    text-align: right
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
}

.menu ul li a{
    color: black;
    text-decoration: none;
}