/*
    Author: Mary Mettille
    Theme: myRestaurant Food Ordering App
    Version: 1.0
*/

*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 1%
}

.img-responsive{
    width: 100%;
}
/* CSS for NavBar */
.logo{
    width: 10%;
}